name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"  # كل 12 ساعة
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ahmedsabrari
          svg_out_path: dist/snake.svg
          gif_out_path: dist/snake.gif
          # الألوان المخصصة
          svg_color: "#ff6b6b:#4ecdc4:#45b7d1:#96ceb4:#ffeaa7:#ff9ff3:#feca57:#ff9ff3"
          gif_color: "dark"

      - name: Deploy to Repository
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: main
          keep_files: true
          destination_dir: ./snake
